:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.animation-container {
  position: relative;
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.animation-container.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.grouped-elements {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1000ms ease-out;
}

.grouped-elements.move-up {
  transform: translateY(-75px);
}

.star {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 370px;
  top: -75px;
  transform: scale(0.1) rotate(0deg) translateY(-50%);
  transition: all 1000ms ease-out;
  z-index: 10;
}

.star.animate-star {
  left: 50%;
  top: -25%;
  transform: translateX(-50%) scale(1) rotate(-180deg) translateY(0%);
}


.star.grow {
  transition: all 500ms ease-out;
  transform: translateX(-50%) scale(1.2) rotate(-180deg) translateY(0%);
}

.base-wrapper {
  position: relative;
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.base {
  position: relative;
  width: 200px;
  height: 100px;
  z-index: 1;
}
.base.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.text {
  position: absolute;
  bottom: 300px;
  width: 200px;
  height: auto;
  scale: 2;
  opacity: 0;
  transition: opacity 1000ms ease-out, transform 1000ms ease-out;
  transform: translateY(-35px);
}

.text.reveal {
  opacity: 1;
  transform: translateY(-75px);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
